paths:
  data_dir: "/ddn_scratch/roles/strain_analysis/iHMP/output"
  log_dir: "/ddn_scratch/roles/strain_analysis/iHMP/output/logs"
  fastq_dir: "/home/lpatel/ddn_scratch/projects/2025-08-21_renee-ihmp/host-filtered"

reference:
  bakta_db: "/ddn_scratch/roles/Panpiper/panpiper/databases/bakta2/db"
  checkm2_db: "/ddn_scratch/roles/Panpiper/panpiper/databases/checkm2/CheckM2_database/uniref100.KO.1.dmnd"
  gtdbtk_db: "/ddn_scratch/roles/strain_analysis/iHMP/gtdbtk"
  eggnog_db: "/ddn_scratch/roles/Panpiper/panpiper/databases/eggnog"

metadata:
  file: "/ddn_scratch/roles/strain_analysis/iHMP/input/hmp2_metadata_2018-08-20_edit.csv"
  samples: "/ddn_scratch/roles/strain_analysis/iHMP/input/sample_group.tsv"

logging:
  level: "INFO"
  file: "pipeline.log"
  max_size: "100MB"
  backup_count: 3

params:
  min_coverage: 5
  min_freq: 0.1
  min_scaffold_length: 1000
  min_scaffold_coverage: 5.0
  min_scaffold_breadth: 0.4

snp_tracking:
  min_coverage: 10
  min_freq: 0.05
  p_threshold: 0.05
  min_freq_change: 0.1
  min_trajectory_change: 0.2
  min_slope: 0.01
  min_abs_change: 0.1

conda_envs:
  metaspades: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/metaspades.yml"
  seqkit: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/seqkit.yml"
  bakta: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/bakta.yml"
  semibin: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/semibin.yml"
  mapping: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/mapping.yml"
  instrain: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/instrain.yml"
  checkm2: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/checkm2.yml"
  gtdbtk: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/gtdbtk.yml"
  mmseq2: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/mmseq2.yml"
  eggnog: "/ddn_scratch/roles/strain_analysis/iHMP/strainscape/snakemake/envs/eggnog.yml"

default-resources:
  threads: 8
  cpus: 1
  mem_mb: 10000